.App{
  height: 100%;
  width: 100%;
  position: absolute;
}
.red{
  position: absolute;
  top:250px;
  left: 300px;
  width: 150px;
  height: 150px;
  background-color: red;
  border: 3px solid black;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blue{
  position: absolute;
  top:250px;
  left: 500px;
  width: 150px;
  height: 150px;
  background-color: blue;
  border: 3px solid black;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.green{
  position: absolute;
  top: 250px;
  left: 700px;
  width: 150px;
  height: 150px;
  background-color: green;
  border: 3px solid black;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.black{
  color: white;
  position: absolute;
  top: 250px;
  left: 900px;
  width: 150px;
  height: 150px;
  background-color: black;
  border: 3px solid rgb(201, 166, 166);
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}